/* * {
    border: 1px solid green;
} */


.bgimg {
    background-image: url(../images/valhalla.png);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg2 {
    background-image: url(../images/mimw2.jpg);
    background-size: 100%;
    height: 90vh;
    max-width: 100%;
    background-repeat: no-repeat;
}

.bgopac {
    background-color: black;
}

.bgblk {
    background-color: rgba(0, 0, 0, 0.63);
}

.imgfill {
    margin: auto;
    height: 40%;
    widows: 40%;
}

/* .nospill {
    margin-left:auto;
    margin-right:auto;
    position:relative;
    width: 100%;
} */

.fit {
    max-width: 100%;
    max-height: 100%;
}

.img {
    font-size: 30px;
    color: rgb(141, 141, 141);
}

.coolfont {
    font-family: 'Hanalei fill', cursive;
    color: #dc3545;
}

.coolfont2 {
    font-family: 'Bitter', serif;
}

.coolfont3 {
    font-family: 'Gaegu', cursive;
}


body {
    background-color: #f5f5f5;
}

.bfont {
    font-size: 10vh;
}